@keyframes dropIn {
    from {
        transform: translateY(-1000px);
      }
    
      to {
        transform: translateY(0);
      }
}
@keyframes rotate {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1.5);
  }
}

.rotate {
  animation: rotate 1s ease-in-out infinite alternate;
}

@keyframes bounce {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.dabounce {
  animation: rotate 5s linear infinite;
}